.settingmodal {

    &__img {
        position: fixed;
        top: 8%;
        left: 75%;
        z-index: 6;
    }
}

.mohan {
    position: fixed;
    top: 1%;
    left: 87.5%;
    width: 4rem;
    z-index: 6;
}

.progress4 {
    position: fixed;
    z-index: 6;
    top: 84%;
    left: 27%;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.047);
}