.videomodal {
    &__img {
        position: fixed;
        top: 30%;
        left: 70%;
        z-index: 6;
    }
}

.progressfuck {
    position: fixed;
    z-index: 6;
    top: 84%;
    left: 27%;
}